{% extends 'newsfeed/base.html' %}

{% block title %}Article List{% endblock %}

{% block content %}
<div class="article-list">
    {% for article in articles %}
    <div class="article-block">
        <a href="{% url 'newsfeed:article-detail' pk=article.pk %}">
            <img src="{{ article.preview_img.url }}" alt="{{ article.title }}">
            <h2>{{ article.title }}</h2>
        </a>
    </div>
    {% endfor %}
</div>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">« first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last »</a>
        {% endif %}
    </span>
</div>
{% endblock %}
